* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  margin-top: 20px;
}

.form-search {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.form-search__input {
  flex: 1 1 100%;
  padding: 12px 8px;
  
}

.form-search__button {
  padding: 0 20px;
  cursor: pointer;
}

.form-search__input, .form-search__button {
  border-radius: 5px;
  border: 1px solid rgb(153, 153, 153);
}

.gifs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gif {
  width: 200px;
}

.gif .image {
  border-radius: 10px;
  overflow: hidden;
  width: 200px;
}